<!-- <div class={{generalBodyCLass}}> -->
  <div class="header">
    <div class="headerImage">
      <div class="headerTitle">
        <h1>ovie Rate</h1>
      </div>
      <!-- <p>Welcome to {{title}}</p> -->
    </div>
  </div>
<!-- </div> -->
