<div class="{{generalBodyCLass}}">
  <h2 class="pageTitle"> {{pageTitle}} </h2>

    <div class="userPlaylists">
      {{#each playlist}}
        <a href="/playlists/details/{{this._id}}"> <h3> {{this.title}} </h3> </a>
      {{/each}}
    </div>
  </div>

</div>
